.container {
  width: 400px;
  padding: 10px;
  background-color: rgb(57, 243, 212);
}

.cam {
  width: 380px;
  height: 380px;
  background-color: plum;
}

.name {
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}

.percent {
  text-align: center;
  font-size: 14px;
}

.description {
  margin-top: 10px;
  padding: 10px;
}
